/*  http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    
    These styles began life as the Tactile theme
    for gh-pages by Jason Long: https://twitter.com/jasonlong
*/

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    padding-left: 1.5em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
  font-size: 32px;
} 

h2 {
  font-size: 22px;
  color: #303030;
  margin-bottom: 8px;
} 

h3 {
  color: #303030;
  font-size: 18px;
  margin-bottom: 8px;
} 
 
h4 {
  font-size: 16px;
  color: #303030;
} 

h5 {
  font-size: 1em;
  color: #303030;
} 

h6 {
  font-size: .8em;
  color: #303030;
} 

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

dl dt {
  color: #303030;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}


/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5; 
  background-color: #e7e7e7;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, serif;
  color: #222;
}

a {
  color: #c5000c;
}
a:hover {
  color: #e71d29;
}

header {
    background-color: #110404;
    padding: 3em 0 2em;
    margin-bottom: 2em;
}

section {
    margin-bottom: 2em;
}

header h1 {
  letter-spacing: -1px;
  font-size: 48px;
  color: #553f3f;
  line-height: 1.2;
}

header h2 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, serif;
    letter-spacing: -1px;
    font-size: 24px;
    color: #aaa;
    font-weight: normal;
    line-height: 1.3;
}

#container {
  min-height: 595px;
}

.wrapper {
  width: 720px;
  margin: 0 auto;
}

#container .wrapper img {
  max-width: 100%;
}

header section {
  margin: 2em 0 0;
}

header .logos {
    float: right;
}

a.button {
  border: 1px solid #aaa;
  color: #303030;
  line-height: 21px;
  font-weight: bold;
  font-size: 1em;
  padding: 14px 18px 0;
  display: block;
  float: left;
  background-color: #e7e7e7;
  height: 48px;
}
a.button:hover {
  background: #fafafa; /* Old browsers */
}
a.button, a.org-logo {
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}
a.button span {
  padding-left: 32px;
  display: block;
  height: 24px;
}

#view-on-github span {
  background: transparent url(../img/octocat-icon.png) -4px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}
header a {
    color: #aaa;
}
.org-logo {
    float: left;
    height: 30px;
    display: inline-block;
    padding: 3px 6px;
    background: #fff;
    margin: 0 8px 8px 0;
}
.org-logo img {
    height: 24px;
}
.logos p {
    font-size: 12px;
    clear: both;
    margin: 0 8px 0 0;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  padding: 0 .25em;
}

pre {
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    padding: 1.5em;
    background: #303030;
    color: #f2f2f2;
    text-shadow: none;
    overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}

ul.my-list {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}
.filter-block ul {
    padding: 0;
}
.my-list li,
.filter-block li {
    font-size: 12px;
    list-style: none;
    padding: .25em 1em;
    background-color: #fff;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    border-top: solid 1px #cbcbcb;
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
}
.my-list li {
    float: left;
    width: 30%;
    margin: .33em 3% .33em 0;
}
.filter-block {
    float: left;
    width: 30%;
    margin: 1em 3% 1em 0;
}
.filter-block li {
    margin: .33em 0;
}
.example-block {
    margin-bottom: 3em;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Media Queries */
@media only screen and (max-width: 767px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .wrapper {
        width: 94%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 560px) {
    .my-list li, .filter-block {
        float: none;
        width: auto;
        margin: 1em 0 1em 0;
    }
    header .logos {
        float: none;
        clear: both;
        display: block;
        padding: 1.5em 0;
    }
}
