@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/medium";
@import "less/variables";

html {
//    min-width: 680px;
}

body {
    background: @gray-lighter;
//    min-width: 680px;
    font-family: @font-family !important;
    font-size: @base-font-size !important;
}

canvas {
    display: none;
    background: @musicDark;
}

header {
    background: @gray-darker;
    margin: 0;
    padding: 25px @grid-gutter-width / 2;
    color: @gray-lighter;

    a {
        color: @gray-lighter;
    }

    a:hover {
        color: @gray;
        text-decoration: none;
    }

    .icon-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        padding: 30px 15px 0 15px;
        min-height: 89px;
        border-style: solid;
        border-color: @gray-lighter;
        border-width: 0 1px 0 0;
        font-size: 35px;
    }

    .header-wrapper {
        margin: 0 0 11px 0;
        padding: 0;
        
        @media screen and (min-width: 700px){
            margin: 0 auto;
            padding: 0 @grid-gutter-width / 2;
        }
    }


    h1 {
        display: inline-block;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 32px;
        font-size: @font-size-h3;
        letter-spacing: 2px;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        font-family: @font-family;
        
        span.help {
            font-size: 14px;
            margin-left: 11px;
            opacity: 0.7;
            text-transform: none;
        }

        @media screen and (min-width: 700px){
            font-size: @font-size-h1;
        }
    }

    img {
        height: 20px;
        width: auto;
        border: 1px solid #eee;
        margin-right: 5px;
    }

    a.toolkit-link {
        display: block;
        line-height: 32px;
        margin-right: - @grid-gutter-width / 2;
        font-size: 16px;
        text-transform: lowercase;
        -webkit-font-smoothing: antialiased;

        &:hover {
            color: #eee;
            opacity: 0.7;
        }

        @media screen and (min-width: 700px){
            float: right;
        }
    }
}

.home-screen {
    .poster-wrapper {
        text-align: center;
        margin-bottom: 44px;
        
        a:hover {
            text-decoration: none;
            
            img { opacity: 0.7; }
        }
        
        img { 
            display: block;
            margin: 0 auto 22px auto;
        }
        
        h3 {
            letter-spacing: 1px;
            margin: 0 0 11px 0;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
        }
        
        p { 
            color: #666;
            font-size: 14px;
            margin: 0;
            
            i {
                font-style: italic;
                color: #999;
                display: block;
                font-size: 13px;
                margin-top: 5px;
            }
        }

    }
}

.content {
    display: table;
    width: 100%;
    max-width: 1200px;
    min-width: 640px;
    margin: 0 auto;

    .poster-wrapper,
    .container {
        display: table-cell;
        vertical-align: top;
    }

    .poster-wrapper {
        width: 640px;
    }

    @media screen and (max-width: @screen-sm-max){
        display: block;

        .poster-wrapper,
        .container {
            display: block;
        }
    }

    @media screen and (max-width: @screen-xs-max){
        .controls-wrapper {
            font-size: 250%;
            .btn {
                font-size: 100%;
                height: 88px;
                min-width: 88px;
            }
        }

        #fontsize {
            display: block;
            width: 90%;
        }
    }

    .touch & {
        input[type="range"]{
            background: #fff;
            width: 100%;
            height: 88px;
            -webkit-appearance: none;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -wekkit-border-radius: 8px;
            border: 1px solid #ddd;
        }


        input[type="range"]::-webkit-slider-thumb{
           -webkit-appearance:none !important;
           width:88px;
           height:88px;
           -webkit-appearance: none;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -wekkit-border-radius: 8px;
            border:none;
            background: #aaa;
         }

         @media screen and (min-width: @screen-sm){
            input[type="range"]{
                height: 44px;
            }

            input[type="range"]::-webkit-slider-thumb {
                width:44px;
                height:44px;
            }
         }
    }
}

.controls-wrapper {
    padding-top: @line-height;

    small {
        font-size: 100%;
        opacity: 0.5;
    }

    .btn-group,
    .btn-group + .btn {
        margin-right: @padding / 2;
    }

    .btn-group-vertical .btn {
        text-align: left;
    }

    .form-group,
    .btn-group {
        margin-bottom: @line-height / 2;
    }

    .btn-group,
    .btn-group-vertical,
    .input-group .btn {
        -webkit-font-smoothing: antialiased;
    }

    .input-group .btn:focus {
        outline: none;
    }

    .btn-group-sm > .btn {
        font-size: 13px;
        padding: 5px;
    }

    .btn:active,
    .btn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-group .btn:hover {
        background: #444;
    }

    label {
        display: block;
        font-weight: normal;
        letter-spacing: 0.1rem;

        .tooltip {
            text-transform: none;
            letter-spacing: 0;
        }
    }

    .help {
        color: @gray-light;
    }
}

.warning {
    font-size: 12px;
    font-style: italic;
    margin-top: 6px;
}