// basic configuration
@font-family: Helvetica, Arial, Verdana, sans-serif;
@condensed-font-family: "Knockout 31 4r", Helvetica, Arial, sans-serif;
@base-font-size: 17px;
@line-height-base: 20/14;
@line-height: floor(@font-size-base * @line-height-base); 

@logo-path: url('../assets/npr-home.png');
@logo-width: 121px;
@logo-height: 40px;

@padding: 30px;

// quotable
@quote-begin-symbol: "\201C";
@quote-end-symbol: "\201D";
@quote-mark-margin: -0.55em;
@quote-font-weight: bold;

@credit-color: #999;
@credit-margin: 5px;

// factlist
@timestamp-margin: 5px;
@timestamp-color: #999;
@bullet-symbol: '\2022';
@bullet-margin: 0.2em;
@list-text-indent: -0.7em;
@list-margin-left: -0.4em;
@list-margin-bottom: 0.3em;