<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portland</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {{ CSS.render('css/app.min.css') }}
    {% block extra_css %}{% endblock extra_css %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    <header>
        <div class="home-link">
            <a href="../index.html">
                TK TK app name
            </a>
        </div>

        <h1>{{ name }}</h1>
    </header>
    {% endblock header_content %}

    <section id="content">
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>

    {% endblock outer_content %}

    {% block jquery %}
    {% endblock jquery %}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot_js %}{% endblock extra_foot_js %}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
