{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/annotator.less') }}
{{ CSS.render('css/annotator.min.css') }}
{% endblock extra_css %}

{% block content %}
<div class="content">
    <div class="poster-wrapper"></div>
    <div class="container">
        <div class="row">
            <form class="form controls col-md-12" autocomplete="false">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label for="kicker">Headline</label>
                        <input data-bound="kicker" class="form-control" id="kicker" value="Fact Check: Trump On Immigration" type="text">
                    </div>
                    <div class="form-group">
                        <label for="quote">Quote</label>
                        <textarea data-bound="quote" class="form-control" id="quote">...in Chicago, which has the toughest gun laws in the United States, probably you could say by far, they have more gun violence than any other city. So we have the toughest laws and you have tremendous gun violence.</textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="add-quotes" data-bound="addQuotes" checked="true">
                        <label for="add-quotes">Add quotation marks?</label>
                    </div>
                    <div class="form-group">
                        <label for="source">Attribution</label>
                        <input data-bound="source" class="form-control" id="source" value="President Trump at the State of the Union on Jan. 29, 2019" type="text">
                    </div>
                    <div class="form-group">
                        <label for="annotation">Annotation</label>
                        <textarea data-bound="annotation" class="form-control" id="annotation">Chicago has been an epicenter of gun violence and according to FBI data, homicides in that city account for a substantial proportion of a rise in new violent crime. Scholars say that violence there is largely concentrated in a few neighborhoods.</textarea>
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input data-bound="author" class="form-control" id="author" value="Danielle Kurtzleben">
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input data-bound="title" class="form-control" id="title" value="NPR Political Reporter" type="text">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="quote-size">Quote Font Size</label>
                            <input data-bound="quoteSize" id="quote-size" class="current-size" type="number" value=16>
                        </div>
                        <div class="form-group">
                            <label for="annotation-size">Annotation Font Size</label>
                            <input data-bound="annotationSize" id="annotation-size" class="current-size" type="number" value=14>
                        </div>
                        <div class="form-group">
                            <label>Aspect ratio</label>
                            <div>
                                <input type="radio" name="aspect" id="2x1" data-bound="aspect" value="2x1" checked="checked">
                                <label for="2x1">2:1</label>
                            </div>
                            <div>
                                <input type="radio" name="aspect" id="16x9" data-bound="aspect" value="16x9">
                                <label for="16x9">16:9</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>
                    <div class="form-group">
                        <p class="warning">If your list is too long or headline is too wide, you will not be able to save the image file.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('../js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{% endif %}
{% endblock jquery %}

{% block extra_foot_js %}
{{ JS.push('js/lib/dom-to-image.js') }}
{{ JS.push('js/utils.js') }}
{{ JS.push('js/annotator.js') }}
{{ JS.render('js/annotator.min.js') }}
{% endblock extra_foot_js %}
