{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="logo-wrapper">
        <img src="img/icon-lunchbox.svg" alt="Lunchbox">
    </div>
</header>
{% endblock header_content %}

{% block content %}
<div class="container">

    <div class="poster-wrapper col-sm-4">
        <a href="quotable/index.html"><img src="img/icon-quotable.svg" height="150" width="150"alt="Quotable" />
        <h3>Quotable</h3></a>
        <p>Converts quoted text into a branded image</p>
    </div>

    <div class="poster-wrapper col-sm-4">
        <a href="factlist/index.html"><img src="img/icon-factlist.svg" height="150" width="150" alt="Factlist" />
        <h3>Factlist</h3></a>
        <p>Produces a branded image with a list of facts
            <i>(Example: Breaking news updates)</i></p>
    </div>

    <div class="poster-wrapper col-sm-4">
        <a href="waterbug/index.html"><img src="img/icon-waterbug.svg" height="150" width="150"alt="Waterbug" />
        <h3>Waterbug</h3></a>
        <p>Creates a watermarked image with attribution</p>
    </div>

    <div class="row">
      <div class="col-md-12 poster-wrapper"><br><br><br><br><br><br><br>
        <p>Last updated on {{ now }} | Contact {{ DEV_CONTACT }} with questions.</p>
      </div>
    </div>

</div>
{% endblock %}


{% block wide_content %}
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('./js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{{ JS.render('js/jquery.min.js') }}
{% endif %}
{% endblock jquery %}
