{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="header-wrapper">
        <a class="toolkit-link">
            <span class="logo"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></span>
            Newsroom Toolkit
        </a>
    </div>

    <h1>{{ name }}</h1>
</header>
{% endblock header_content %}

{% block content %}
<br />

<div class="content">

    {% for row in COPY.home_screen %}
    <div class="poster-wrapper col-sm-4">
        <a href="{{ row.link }}"><img src="{{ row.img }}" height="150" width="150" alt="{{ row.project }}" />
        <h3>{{ row.project }}</h3></a>
        <p>{{ row.description }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}


{% block wide_content %}
{% endblock %}

{% block jquery %}
{% if not DEPLOYMENT_TARGET %}
{{ JS.push('js/lib/jquery.js') }}
{% else %}
<script type="text/javascript">
    window.$ = window.jQuery = require('./js/lib/jquery.js')
</script>
{% endif %}
{% endblock jquery %}
