{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/quotable.less') }}
{{ CSS.render('css/quotable.min.css') }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="poster-wrapper">
        <div class="poster quote poster-news">
            <span class="left-quote">&ldquo;</span>
            <blockquote><p></p></blockquote>

            <p class="source"></p>
            <p class="show-credit"></p>

            <p class="logo-wrapper"></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label for="fontsize">Font size</label>
                        <input id="fontsize" name="fontsize" type="range" min="24" max="120" value="90">
                    </div>
                    <div class="form-group">
                        <label for="theme">Theme</label>
                        <div id="theme" class="btn-group-vertical">
                            <button id="theme1" class="btn btn-primary active">Theme 1</button>
                            <button id="theme2" class="btn btn-primary">Theme 2</button>
                            <button id="theme3" class="btn btn-primary">Theme 3</button>
                            <button id="theme4" class="btn btn-primary">Theme 4</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aspect-ratio">Aspect ratio</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="sixteen-by-nine" class="btn btn-primary">16:9</i></button>
                            <button id="two-by-one" class="btn btn-primary">2:1 <i class="fa fa-twitter"></i></button>
                            <button id="facebook-ratio" class="btn btn-primary"><i class="fa fa-facebook"></i></button>
                            <button id="square" class="btn btn-primary active">Square</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quote">Quotation marks</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary active">Show</button>
                            <button class="btn btn-primary">Hide</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="highlight">Highlighting</label>
                        <div id="highlight" class="btn-group">
                            <button class="btn btn-primary active" id="highlight-off">Off</button>
                            <button class="btn btn-primary" id="highlight-on">On</button>
                        </div>
                        <p id="reset-highlight">Reset</p>
                    </div>
                    <div class="form-group">
                        <label for="show">Attribution <span class="help">(e.g. Morning Edition)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('../js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{% endif %}
{% endblock jquery %}


{% block extra_foot_js %}
{{ JS.push('js/lib/html2canvas.js') }}
{{ JS.push('js/lib/medium-editor.min.js') }}
{{ JS.push('js/quotable.js') }}
{{ JS.render('js/quotable.min.js') }}
{% endblock extra_foot_js %}
